<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification - WORD QUEST</title>
    <link rel="icon" href="/static/icons/favicon.ico">
    <noscript>
        <meta http-equiv="refresh" content="0; URL=../error/nojs.html">
    </noscript>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style-account-forms.css') }}">
</head>

<body>
    <section class="password-recovery-form-container disabled">
        <form id="password-recovery-check-form" method="POST" action="/auth/pass-recovery/send-link">
            <a href="/">
                <img src="{{ url_for('static', filename='imgs/app-main-logo.png') }}" alt="logo" class="logo">
            </a>
            <h1>Vérification</h1>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <p id="login-form-main-alert">{{ messages[0] }}</p>
            {% endif %} {% endwith %}
            <p class="text">Veuillez renseigner votre adresse e-mail pour recevoir un lien pour modifier votre mot de passe.</p>
            <input type="email" name="email" class="email-input" id="password-recovery-email-input" placeholder="Adresse e-mail" value="{{email}}" required>
            <span class="separator"></span>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="submit-button" id="2fa-check-submit-button">Recevoir un lien</button>
        </form>
    </section>
</body>

</html>