@import url('https://fonts.googleapis.com/css2?family=Bangers&family=League+Spartan:wght@400;700&family=Nunito+Sans:wght@800&family=Permanent+Marker&family=Righteous&display=swap');

.countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    gap: 5px;
    font-family: 'League Spartan';
}
.countdown img{
    height: 35px;
}

#countdown-game{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-animation{
    animation: urgency 1s infinite;
}

.begining > div{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #373d2052;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300px;

}
#begin{
    font-family: 'Bangers', cursive;
    text-align: center;
    animation: beginner 1s 0.5s;
    animation-iteration-count: 4;
}

@keyframes beginner {
    0%{
        transform: scale(1) rotateZ(0deg);
    }
    20%{
        transform: scale(1) rotateZ(0deg);
    }
    50%{
        transform: scale(0.05) rotateZ(900deg);
    }
    80%{
        transform: scale(1) rotateZ(0deg);
    }
    100%{
        transform: scale(1) rotateZ(0deg);
    }
}
.display-none{
    display: none;
}
@keyframes urgency{
    0%{
        color: #333333;
        transform: scale(1);
    }
    50%{
        color: red;
        transform: scale(1.1);
    }
    100%{
        color: #333333;
        transform: scale(1);
    }
}

