<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake - Word Quest</title>
    <link rel="icon" type="image/png" href="/static/imgs/app-main-logo.png" />
    <link rel="stylesheet" href="/static/styles/games/snake/main.css">
    <link rel="stylesheet" href="/static/styles/games/main.css">
</head>

<body data-session_id="{{session_id}}" data-list_id="{{list_id}}">
    <div class="game-container">
        <div class="info-content">
            <div class="counter">
                <img src="/static/icons/games-icons/flash.png" alt="">
                <p id="xp">{{score}}Xp</p>
            </div>
            <div class="frensh-word" id="frensh-word">Mot</div>
            <div class="counter">
                <img src="/static/icons/games-icons/timer-icon.png" alt="">
                <p class="data" id="time">{{time}}</p>
            </div>
        </div>

        <canvas width="504" height="504"></canvas>
        <div class="word" id="word">
        </div>
        <div id="animation-xp" class="XP">
            <p id="xpnotif">+0</p>
            <img src="/static/icons/games-icons/big-flash.png" alt="">
        </div>
            
        </div>
    </div>

    {% set popUpTitle = "Snake" %} {% set popUpDesc = "Vous disposez de 1 minutes pour reconstituer les mots avec le serpent" %} {%set popUpGame = "snake"%} {% include "games/popups.html" %}
    <script src="/static/styles/games/snake/main.js"></script>
</body>
</html>

