{% extends "header.html" %} {% block title %}A propos{% endblock %} {% block desc %} Découvrez qui nous sommes et quel est notre projet ! {% endblock %} {% block content %}
<main>
    <section class="title-section">
        <div class="title">A propos</div>
    </section>
    <section class="main-container-section">
        <div class="text-container">
            <h1>Qui sommes-nous ?</h1>
            <p>
                Nous sommes une équipe de deux développeurs web passionnés par l'informatique. Nous avons créé Word Quest dans le but de rendre l'apprentissage de l'anglais plus accessible et plus amusant pour tous. Notre mission est de fournir une plateforme d'apprentissage
                plus personnalisée et plus efficace que les méthodes traditionnelles.
            </p>
            <p>
                Nous sommes actuellement en classe de terminale et nous avons décidé de consacrer notre temps libre à ce projet. Notre objectif est de participer au coucours des Trophées NSI en fin d'année 2024.
            </p>
            <h1>Un projet open-source</h1>
            <p>
                Word Quest est un projet open-source. Cela signifie que notre code source est disponible gratuitement et des modifications peuvent être suggérées. Nous croyons que l'open-source est la meilleure façon de développer des logiciels de qualité et de permettre
                à chacun de contribuer à notre projet.
            </p>
            <div class="github-box">
                <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="github-logo">
                <a href="https://github.com/hpktz/word_quest" class="link">Voir notre code source sur GitHub</a>
            </div>
            <h1>Notre rapport de projet</h1>
        </div>
    </section>
    {% include 'footer.html' %}
</main>
{% endblock %}