{% extends "header.html" %} {% block title %}Politique de confidentialité{% endblock %} {% block desc %} Notre Politique de Confidentialité décrit comment nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre
site web.{% endblock %} {% block content %}
<main>
    <section class="title-section">
        <div class="title">Politique de confidentialité</div>
    </section>
    <section class="main-container-section">
        <div class="text-container">
            <p>Date de mise à jour : 01 mars 2024</p>
            <p>Nous, l'équipe de Word Quest, sommes engagés à protéger la confidentialité et la sécurité des données de nos utilisateurs. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations que vous
                nous fournissez lorsque vous utilisez notre site internet d'apprentissage.</p>
            <h1>Collecte et utilisation des informations</h1>
            <p>Lorsque vous utilisez notre site internet, nous pouvons collecter les types d'informations suivants :</p>
            <ul>
                <li><strong>Nom, prénom, date de naissance :</strong> Pour personnaliser votre expérience sur notre plateforme.</li>
                <li><strong>Mot de passe (chiffré) :</strong>Pour sécuriser votre compte utilisateur.</li>
                <li><strong>Adresse e-mail :</strong>Pour vous contacter au sujet de votre compte et des mises à jour du site.</li>
                <li><strong>Pages consultées :</strong>Pour améliorer nos algorithmes de recommandation et adapter notre communication à vos besoins.</li>
            </ul>
            <p>Nous ne collectons pas de cookies, à l'exception du cookie de session nécessaire au bon fonctionnement du site.</p>
            <h1>Stockage et sécurité des données</h1>
            <p>Nous hébergeons notre site sur les serveurs de Google Cloud à Francfort et notre base de données est hébergée par Hostinger en France. Nous prenons des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé,
                altération, divulgation ou destruction.</p>
            <h1>Partage des informations</h1>
            <p>Nous ne partageons pas les informations personnelles de nos utilisateurs avec des entreprises tierces. Vos données restent strictement confidentielles et sont utilisées uniquement dans le cadre de l'amélioration de nos services.</p>
            <h1>Accès et contrôle de vos informations</h1>
            <p>Vous pouvez accéder à vos informations personnelles, les modifier ou les supprimer à tout moment en vous connectant à votre compte utilisateur. Si vous avez des questions ou des préoccupations concernant la confidentialité de vos données,
                veuillez nous contacter à l'adresse suivante :
                <a href="/contact" class="link">Page de contact</a>
            </p>
            <h1>Sécurité des mots de passe</h1>
            <p>Nous chiffrons les mots de passe de nos utilisateurs et nous offrons la possibilité d'activer la double authentification (2FA) pour renforcer la sécurité des comptes.</p>
            <h1>Modifications de la politique de confidentialité</h1>
            <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications entreront en vigueur dès leur publication sur notre site internet. Nous vous encourageons à consulter régulièrement cette page pour
                rester informé des mises à jour.</p>
            <p>En utilisant notre site internet, vous acceptez les termes de cette politique de confidentialité. Si vous avez des questions ou des préoccupations concernant notre utilisation de vos informations personnelles, veuillez nous contacter en cliquant
                <a href="/contact" class="link">ici</a>
            </p>
            <p>Merci de votre confiance et de votre intérêt pour Word Quest.</p>
        </div>
    </section>
    {% include 'footer.html' %}
</main>
{% endblock %}