<div class="game-trail">
    <div class="list-header">
        <p class="title">{{list['title']}}</p>
        <div class="close-logo clickable-logo">
            <a href="/" class="close-game-rail-button">
                <img src="/static/icons/close.png" alt="logo">
            </a>
        </div>
    </div>
    {% for game in games %} {% if game["status"] == "blocked" %} {% set game = {'id': game['id'], 'ord': game['ord'], 'name': "", 'short_desc': "", 'img': '/static/icons/games-icons/padlock-30-dark-grey.png', 'status': 'blocked', 'completed': 0} %} {% endif
    %}
    <div class="level level-box {{game['status']}}" data-game_infos="[{{game}}]">
        <img class="level-img" src="{{game['img']}}">
    </div>
    {% endfor %}
    <div class="path step-1 {% if games[0]['completed'] %}completed{% endif %}"></div>
    <div class="path step-2 {% if games[1]['completed'] %}completed{% endif %}"></div>
    <div class="path step-3 {% if games[2]['completed'] %}completed{% endif %}"></div>
    <div class="path step-4 {% if games[3]['completed'] %}completed{% endif %}"></div>
    <div class="path step-6 {% if games[4]['completed'] %}completed{% endif %}"></div>
    <div class="level-infos-pop-up-container" data-position="0">
        <div class="pop-up-triangle"></div>
        <div class="level-infos-pop-up">
            <div class="title"></div>
            <div class="text"></div>
            <div class="submit-button"></div>
        </div>
    </div>
</div>