{% extends "header.html" %} {% block title %}Contact{% endblock %} {% block desc %}Vous rencontrez un problème ou avez simplement une petite question en tête ? N'attendez plus !{% endblock %} {% block content %}
<main>
    <section class="title-section">
        <div class="title">Contact</div>
    </section>
    <section class="main-container-section">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOCGhA-ayKtPrDss-fybGYn_FIgf5SPgoa9iVciddMENmxBA/viewform?embedded=true" style="width: 100%; overflow-x: hidden;" height="1200" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
        <p class="issue-mess">Cette page ne s'affiche pas correctement ? <a href="https://forms.gle/XFz8ypZnD3hKBsgh8" target="_blank" rel="noopener noreferrer">Cliquez ici</a>.</p>
    </section>
    {% include 'footer.html' %}
</main>
{% endblock %}