<footer>
    <div>
        <div class="main-title ">WORD QUEST</div>
        <div class="infos-container">
            <div class="info-box ">
                <div class="title">Liens rapides</div>
                <a href="/" class="link">Accueil</a>
                <a href="/method" class="link">Methode</a>
                <a href="/about" class="link">A propos</a>
            </div>
            <div class="info-box ">
                <div class="title">Ressources</div>
                <a href="/resources" class="link">Ressources utilisées</a>
                <a href="/privacy-policy" class="link">Politique de confidentialité</a>
            </div>
        </div>
        <a href="https://x.com/wordquest_dev" aria-label="Redirection to our x account" class="social-media-link ">
            <img src="/static/icons/twitter-30-black.png" class="img" alt="twitter-icon">
        </a>
    </div>
    <div class="separate "></div>
    <div>
        <div class="help-box ">
            <div class="img-container">
                <img src="/static/imgs/3d-young-people-in-casual-clothes-standing.png" class="img" alt="community-illustration">
            </div>
            <div class="texts">
                <div class="title">Rejoingnez notre communauté !</div>
                <div class="text">Notre communauté vous aidera et vous donnera des conseils pour progresser et plus encore !</div>
            </div>
            <a href="https://discord.gg/8xhNhUJfrS" aria-label="Redirection to our discord forum" class="btn">
                <img src="/static/icons/arrow-right-30-dark-grey.png" class="img" alt="arrow-right">
            </a>
        </div>
        <div class="help-box ">
            <div class="img-container">
                <img src="/static/imgs/3d-young-woman-waving-her-hand-while-sitting-at-the-computer.png" class="img" alt="community-illustration">
            </div>
            <div class="texts">
                <div class="title">Une question ? Notre équipe y répondra</div>
                <div class="text">Vous rencontrez un problème ou avez simplement une petite question en tête ? N'attendez plus !</div>
            </div>
            <a href="/contact" aria-label="Redirection to our contact form" class="btn">
                <img src="/static/icons/arrow-right-30-dark-grey.png" class="img" alt="arrow-right">
            </a>
        </div>
    </div>
</footer>