{% extends "header.html" %} {% block title %}Ressources - Word Quest{% endblock %} {% block desc %} Découvrez les ressources utilisées par Word Quest pour vous offrir une expérience d'apprentissage unique et innovante. web.{% endblock %} {% block content
%}
<main>
    <section class="title-section">
        <div class="title">Ressources</div>
    </section>
    <section class="main-container-section">
        <div class="text-container">
            <h1>Icones et illustration</h1>
            <p>
                Les icones et illustrations utilisées sur notre site internet proviennent de la plateforme : <a href="https://icons8.com/" class="link">Icons8</a>. Nous remercions les artistes pour leur travail exceptionnel.
            </p>
            <h1>Effets sonores</h1>
            <p>
                Les effets sonores utilisés sur notre site internet proviennent de la plateforme : <a href="https://pixabay.com/fr/sound-effects/" class="link">pixabay</a>. Nous remercions les artistes pour leur travail exceptionnel.
            </p>
            <h1>Dictionnaire</h1>
            <p>
                La recherche de mots est alimenté par l'API de <a href="https://www.collinsdictionary.com/" class="link">Collins Dictionnary</a>.
            </p>
            <h1>Base de données</h1>
            <p>
                Notre base de données est hébergée par <a href="https://www.hostinger.fr/" class="link">Hostinger</a> en France.
            </p>
            <p>
                Elle est propulsée par <a href="https://www.mysql.com/" class="link">MySQL</a>.
            </p>
            <p>
                Hostinger International Ltd. est un fournisseur de services d'hébergement web et de domaine. Il a été fondé en 2004 et est basé à Kaunas, en Lituanie. L'entreprise fournit des services d'hébergement web, de messagerie et de domaine.
            </p>
            <h1>Framework</h1>
            <p>
                Notre site internet est propulsé par <a href="https://flask.palletsprojects.com/en/2.0.x/" class="link">Flask</a>, un framework web open-source écrit en Python.
            </p>
            <h1>Service d'hébergement</h1>
            <p>
                Notre site internet est hébergé par <a href="https://cloud.google.com/" class="link">Google Cloud</a> à Francfort.
            </p>
            <p>
                Google Cloud est une suite de services cloud proposée par Google. Elle propose des services de calcul, de stockage de données, d'analyse de données et de machine learning.
            </p>
            <h1>Service de messagerie</h1>
            <p>
                Notre service de messagerie est géré par <a href="https://www.ionos.fr" class="link">IONOS</a>.
            </p>
        </div>
    </section>
    {% include 'footer.html' %}
</main>
{% endblock %}