<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification - WORD QUEST</title>
    <link rel="icon" href="{{ url_for('static', filename='imgs/app-main-logo.png') }}">
    <noscript>
        <meta http-equiv="refresh" content="0; URL=../error/nojs.html">
    </noscript>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style-account-forms.css') }}">
</head>

<body>
    <section class="signup-check-form-container disabled" id="signup-check-form-container">
        <form id="2fa-check-form" method="POST" action="">
            <img src="{{ url_for('static', filename='imgs/app-main-logo.png') }}" alt="logo" class="logo">
            <h1>Vérification</h1>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <p id="login-form-main-alert">{{ messages[0] }}</p>
            {% endif %} {% endwith %}
            <p id="2fa-form-main-alert"></p>
            <p id="code-input-alert"></p>
            <input type="text" name="code" class="code-input" id="2fa-check-code-input" placeholder="Code de vérification" required>
            <span class="separator"></span>
            <a href="{{ url_for('auth.sys_2fa_sendCodeAgain')}}" class="send-code-button" id="2fa-check-send-code-button">Renvoyer le code</a>
            <span class="separator"></span>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="submit-button" id="2fa-check-submit-button">Connexion</button>
        </form>
    </section>
</body>

</html>