{% extends "dashboard/main.html" %}{% block color %}dashboard-color{% endblock %} {% block dashboard %}selected{% endblock %} {% block dashboard_info %}
<div class="info-section">
    <div class="title">
        <div>Dashboard</div>
        <div class="info-section-phone-logo clickable-logo">
            <a href="" id="info-section-phone-button" onclick="open_info_box(this, event)">
                <img src="/static/icons/binoculars-30-white.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="Votre recherche" onkeyup="search(this)">
        <img src="/static/icons//search-30-dark-grey.png" class="img" alt="search-icon">
    </div>
    <div class="search-results"> </div>
</div>
<div class="tips">
    <div class="title">Astuce</div>
    <div class="text">{{daytime_tip}}</div>
    <img src="/static/imgs/3d-young-man-with-coffee-standing-and-speaking.png" class="img" alt="tips-illustration">
</div>
{% endblock %} {% block daytime_tip %} {{daytime_tip}} {% endblock %} {% block content %}
<main class="dashboard-main-container" onclick="close_boxes(this, event)">
    <section class="main-infos">
        <div class="title">MES LISTES</div>
        <div class="user-infos">
            <div class="box">
                <img src="/static/imgs/3d-pink-gemstone.png" class="img" alt="medal-icon">
                <div class="text" id="gems-info">{{gems}}</div>
            </div>
            <div class="box">
                <img src="/static/imgs/3d-flash-on.png" class="img" alt="medal-icon">
                <div class="text">{{xp}}</div>
            </div>
            <div class="box lives-zone" id="lives-box" onclick="open_lives(this)">
                <img src="/static/imgs/3d-red-heart.png" class="img lives-zone" alt="medal-icon">
                <div class="text lives-zone" id="lives-info">{{lives}}</div>
            </div>
            <div class="lives-pop-up lives-zone">
                <div class="triangle lives-zone"></div>
                <div class="container lives-zone">
                    <div class="heart-container lives-zone">
                        {% for index in range(5) %}
                            {% if index < lives %}
                                <img src="/static/imgs/3d-red-heart.png" class="img lives-zone" alt="medal-icon">
                            {% else %}
                                <img src="/static/imgs/3d-white-heart.png" class="img lives-zone" alt="medal-icon">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="text lives-zone" id="lives-counter" data-lives="{{lives}}" data-time="{{lives_time}}">Vous avez tout vos coeur</div>
                    <a href="" onclick="purchase_lives(this, event)" class="button lives-zone" id="life-purchase-button">Acheter (200 gemmes)</a>
                </div>
            </div>
        </div>
        <div class="filters">
            <div class="creation-date">
                <div class="date">
                    <input type="date" class="date-start-input" value="{{start_date}}" onchange="change_time()">
                    <img src="/static/icons/fleche-droite-30-dark-grey.png" alt="">
                    <input type="date" class="date-end-input" value="{{end_date}}" onchange="change_time()">
                </div>
                <div class="filter">
                    <img src="/static/icons/menu-30-dark-grey.png" alt="">
                    <select class="filter-select" onchange="filter_by(this)">
                        <option value="date-increasing">Date ↓</option>
                        <option value="date-decreasing">Date ↑</option>
                        <option value="name-increasing">A-Z</option>
                        <option value="name-decreasing">Z-A</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section class="lists-container" id="lists-container">
        {% for list in lists %}
        {% if new_list_id == list['id'] %}
            {% set css_class = "new-list" %}
        {% else %}
            {% set css_class = "" %}
        {% endif %}
        <div class="list-box {{ css_class }}" onclick="open_game_trail(this, event)" data-list_id="{{list['id']}}" data-list_creation="{{list['created_at']}}" data-list_name="{{list['title']}}">
            <div class="infos">
                <div class="creation">
                    <p>Créée le {{ list["created_at"] }}</p>
                </div>
                <p class="title">{{ list["title"] }}</p>
                <div class="hidden">
                    <div class="progress">
                        <div class="title">Progression</div>
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width: {{list['progress']}}%;"></div>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <p class="words">Liste de {{ list["words"]|length }} mot{% if list["words"]|length > 1 %}s{% endif %} - {% for index in range((10, list["words"]|length)|min) %}{% if index > 0 %}, {% endif %}{{list["words"][index]["word"]}}{% endfor %}</p>
            </div>
            <div class="actions">
                <div class="delete-logo clickable-logo delete-zone">
                    <a href="" class="delete-zone" onclick="delete_list(this, event, {{list['id']}})">
                        <img src="/static/icons/delete-30-dark-grey.png" class="delete-zone" alt="delete-icon">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %} {% if lists|length == 0 %}
        <div class="list-box-empty" style="display: block;">
            <img src="/static/imgs/3d-robot-assistant-sad.png" class="img" alt="empty-list-icon">
            <p class="text">Aucune liste trouvée</p>
        </div>
        {% else %}
        <div class="list-box-empty" style="display: none;">
            <img src="/static/imgs/3d-robot-assistant-sad.png" class="img" alt="empty-list-icon">
            <p class="text">Aucune liste trouvée</p>
        </div>
        {% endif %}
    </section>
    <section class="games-trail" data-color="1">
        <div class="no-list-selected">
            <div>
                <img src="/static/imgs/3d-black-cursor.png" class="img" alt="cursor-icon">
                <div class="text">Selectionnez une liste pour voir les niveaux</div>
            </div>
        </div>
    </section>
    <div class="overlay-load-game">
        <div class="content">
            <span class="loader"></span>
        </div>
    </div>
    <div class="delete-list pop-up">
        <div class="header">
            <div class="title">Suppression de la liste</div>
            <div class="close-logo clickable-logo">
                <a href="" onclick="close_delete_list(this, event)">
                    <img src="/static/icons/close.png" alt="logo">
                </a>
            </div>
        </div>
        <div class="text">
            Êtes-vous sûr de vouloir supprimer cette liste ? Cette action est irréversible.<br/><br/> Si vous souhaitez retourner à la liste des listes, fermez cette fenêtre.
        </div>
        <div class="submit-button">
            <a href="" id="delete-list-redirect">Supprimer</a>
        </div>
    </div>
    <script src="/static/scripts/dashboard/search.js"></script>
    <script src="/static/scripts/dashboard/filters.js"></script>
    <script src="/static/styles/js/dashboard.js"></script>
</main>
{% endblock %}