<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Word Quest{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles/css/style-dashboard.css">
    <script src="/static/styles/js/main.js"></script>
</head>

<body>
    <header class="{% block color %}{% endblock %}">
        <section class="nav-bar">
            <div>
                <div class="phone-menu-logo" onclick="open_menu_phone(this)">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="account-logo clickable-logo">
                    <a href="/dashboard/profile" onclick="redirect(this, event)">
                        <img src="/static/icons/user-30-white.png" alt="logo">
                    </a>
                </div>
                <div class="create-logo clickable-logo">
                    <a href="/dashboard/create" onclick="redirect(this, event)">
                        <img src="/static/icons/plus-30-white.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="middle-logos">
                <div class="middle-logo clickable-logo {% block dashboard %}{% endblock %}">
                    <a href="/dashboard" onclick="redirect(this, event)">
                        <img src="/static/icons/home-30-dark-grey.png" alt="logo">
                    </a>
                </div>
                <div class="middle-logo clickable-logo {% block quests %}{% endblock %}">
                    <a href="/dashboard/quests" onclick="redirect(this, event)">
                        <img src="/static/icons/quest-30-dark-grey.png" alt="logo">
                    </a>
                </div>
                <div class="middle-logo clickable-logo {% block stats %}{% endblock %}">
                    <a href="/dashboard/stats" onclick="redirect(this, event)">
                        <img src="/static/icons/graph-30-dark-grey.png" alt="logo">
                    </a>
                </div>
                <div class="middle-logo clickable-logo {% block user %}{% endblock %}">
                    <a href="/dashboard/stats" onclick="redirect(this, event)">
                        <img src="/static/icons/user-30-dark-grey.png" alt="logo">
                    </a>
                </div>
                <div class="dynamic-pointer"></div>
            </div>
            <div class="app-logos">
                <div class="app-logo clickable-logo">
                    <a href="/">
                        <img src="/static/imgs/app-main-logo.png" alt="logo">
                    </a>
                </div>
                <div class="responsive-logo clickable-logo">
                    <a href="" onclick="responsive(this, event)">
                        <img src="/static/icons/arrow-left-30-dark-grey.png" alt="logo">
                    </a>
                </div>
            </div>
        </section>
        <section class="infos-section">
            {% block dashboard_info %}{% endblock %}
        </section>
    </header>
    {% block content %}{% endblock %}
</body>

</html>