@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
canvas{
    border: 2px solid black;
    background-color: #c1c286;
}

.word{
    display: flex;
}
.letter{
    border-bottom: 3px solid black;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 30px;
    text-transform: uppercase;
}